@import '_component/config/colour';

html, 
body {
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  background: $color-alto;
  font-family: Courier New, sans-serif;
}

a, 
a:link, 
a:visited, 
a:focus {
  color: $color-tundora;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0px 5px -15px 5px;
}

.btn {
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  touch-action: manipulation;
  user-select: none;
  border-radius: 4px;

}

.logo__center {
  text-align: center;
}

#login__form {
  width: 100%;
  height: 100%;
  background-image: url('asset/image/background.jpg');
  background-size: cover;
  background-position: center;
}

.login__box {
  width: 380px;
  height: 370px;
  color: $color-white;
  position: relative;
  padding: 15px;
  top: 50%;
  margin: auto;
  margin-top: -185px;
  background: rgba(0, 0, 0, 0.75);
}

.login__box form {
  margin-bottom: 20px;
}

.login__box input {
  margin-top: 20px;
  // padding: 0;
}

.login__box input[type='submit'] {
  width: 100%;
}

.login__logo {
  width: 100;
  padding: 0 10px;
}

.login__logo img {
  width: 100%;
  height: auto;
  margin: -10px 0 5px;
}

.btn:focus, 
.btn:active, 
.btn:active:focus {
  outline: none;
}

.btn__action {
  color: $color-white;
  border: $color-web-orange;
  background: $color-web-orange;
}

.btn__action:hover, 
.btn__action:focus, 
.btn__action:active {
  color: $color-white;
  background: $color-web-orange-2;
}

.btn__action:active:focus {
  background: $color-web-orange;
}

.form__action, 
.form__action:link, 
.form__action:focus,
.form__action:visited {
  color: $color-white;
  font-size: 15px;
}

.form__box {
  display: block;
  width: 99%;
  height: 34px;
  font-size: 15px;
  line-height: 1.6;
  padding: 5px 0 5px 5px;
  color: $color-emperor;
  background-color: $color-white;
  background-image: none;
  border: 1px $color-silver;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

// Responsive Design

@media (min-width: 481px) and (max-width:767px) {
  .login__box {
    margin-bottom: 60px;
  }
}

@media (min-width: 1px) and (max-width:480px) {
  .login__box {
    width: 310px !important;
    margin-top: -225px !important; 
  }
}